
workspace.xml
modules.xml

/local.properties
.gradle
.DS_Store

.idea
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea_modules/
.idea/misc.xml 

**/R.java
**/bin
**/gen
**/build
**/crashlytics-build.properties
**/build/*.*
**/*.iml
*.iml


